@use "styles/variables" as *;

.section {
  background-color: black;
  width: 100vw;
  color: white;
  padding-bottom: 10rem;
}

.container {
  width: $containerWidth;
  margin: 0 auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.header {
  font-size: 3rem;
  margin: 0;
  // padding: 8rem 0 12rem 0;
  font-weight: 500;

  background: linear-gradient(
    45deg,
    hsl(324, 100%, 50%),
    rgb(5, 222, 218),
    hsl(324, 100%, 50%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.questions {
  h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  svg {
    filter: invert(1);
    transform: scale(1.2);
    margin-right: 0.5rem;
  }

  p {
    opacity: 0.78;
    line-height: 2;
    display: block;
    margin: 0;
    cursor: pointer;
  }
}
