$screen-sm-min: 768px;
$link-color: white;
$link-hover-color: darken($link-color, 15%);
$warm-gray: #e9e7df;
$navbarBgColor: black;
$teal: teal;

.navbar {
  padding: 0 3rem;
  position: fixed;
  width: 100%;
  background-color: $navbarBgColor;
  font-weight: bold;
  font-size: 1.1rem;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid darken($warm-gray, 8%);
  visibility: visible;
  transform: none;
  transition: all 400ms ease-in-out;

  &.top {
    background-color: transparent;
    border: none;
  }

  &.hidden {
    visibility: hidden;
    transform: translate(0, -100%);
  }

  @media (max-width: $screen-sm-min) {
    min-height: 67px;
  }
}

.container {
  // @extend .container;
  display: flex;
  align-items: center;
  min-height: 65px;

  @media (max-width: $screen-sm-min) {
    min-height: 57px;
    flex-direction: column;
  }
}

.linkList {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 0 auto;
  list-style-type: none;

  li {
    padding: 0 0.5rem;
  }

  @media (max-width: $screen-sm-min) {
    margin: 0;
    flex-direction: column;
    width: 100vw;
    background-color: black;
    max-height: 0;
    transition: max-height 0.3s ease;
    overflow: hidden;

    &.showMenu {
      max-height: 500px;
      transition: max-height 0.5s ease;
      border-bottom: 1px solid darken($warm-gray, 8%);
      border-top: 1px solid darken($warm-gray, 8%);
    }

    li {
      padding: 1rem 0.5rem;
    }

    button {
      padding: 0.4rem 1rem 0.2rem;
    }
  }
}

.link {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.logoContainer {
  align-items: center;

  @media (max-width: $screen-sm-min) {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

.logo {
  display: block;
  color: white;
  font-size: 1.5rem;
}

.hamburger {
  background-color: transparent;
  border: none;
  margin: 15px 0 15px auto;
  padding: 0;
  cursor: pointer;
  display: none;

  @media (max-width: $screen-sm-min) {
    display: block;
  }
}

.hamburgerIcon {
  width: 42px;
  height: 35px;
  position: relative;
  transition: 0.5s ease-in-out;
  margin-left: auto;
  span {
    position: absolute;
    height: 2px;
    border-radius: 1px;
    width: 20px;
    margin: auto;
    left: 0;
    right: 0;
    background: white;
    opacity: 1;
    transition: 0.25s ease-in-out;
    transform-origin: left center;

    &:nth-child(1) {
      top: 10px;
    }

    &:nth-child(2) {
      top: 16px;
    }

    &:nth-child(3) {
      top: 22px;
      transform-origin: left center;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        top: 10px;
        left: 3px;
        transform: rotate(40deg);
      }

      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      &:nth-child(3) {
        top: 22px;
        left: 3px;
        transform: rotate(-40deg);
      }
    }
  }
}

.aquarium {
  background-color: $teal;
  padding: 8px 24px;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 24px;
  font-size: 1.1rem;
}

.marine {
  color: $teal;
}
