@use "styles/variables" as *;
@use "sass:math";

.container {
  width: 100vw;
  background-color: black;
  box-sizing: border-box;
  padding-bottom: 10rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.header {
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 0 2rem 12rem 2rem;
  font-weight: 500;

  background: linear-gradient(
    45deg,
    hsl(324, 100%, 50%),
    rgb(5, 222, 218),
    hsl(324, 100%, 50%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  @media (max-width: $screen-sm-min) {
    font-size: 2rem;
    padding: 0 2rem;
  }
}

.dual {
  max-width: $containerWidth;
  display: flex;
  height: auto;
  color: white;
  margin: 0 auto;

  @media (max-width: $screen-sm-min) {
    flex-direction: column;
  }
}

.text {
  width: 40%;
  padding-right: 2rem;

  @media (max-width: $screen-sm-min) {
    width: 100%;
    order: 2;
    padding: 0 2rem;
  }

  h1 {
    // @extend .header;
    padding: 0;
    font-size: 2rem;
    text-align: left;
    background: linear-gradient(
      45deg,
      hsl(324, 100%, 50%),
      rgb(5, 222, 218),
      hsl(324, 100%, 50%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;

    @media (max-width: $screen-sm-min) {
      font-size: 1.8rem;
    }
  }

  p {
    margin-top: 2rem;
    line-height: 2;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    color: white;
  }
}

.slider {
  width: 60%;
  padding-left: 6rem;

  @media (max-width: $screen-sm-min) {
    width: 100%;
    padding: 0 2rem;
  }
}
